html {
    background-color: #E9E7E7;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    display: flex;
    font-size: 70px;
    color: black;
    justify-content: center;
}

#buttons {
    display: flex;
    justify-content: center;
    border-color: #63666A;
    border-width: 4px;
}

button {
    padding: 15px 32px;
    text-align: center;
    border-radius: 10px;  
    color: white;
    margin-left: 20px;
    margin-right: 20px;
}

.pixels {
    background-color: #e6e6fa;
}

.rainbow {
    background-color: #8fbc8f;
}

.eraser {
    background-color: black;
}

#container {
    width: 500px;
    height: 500px;
    margin-bottom: 30px;
}

.row {
    display: flex;
}

.column {
    background-color: white;
}

.color {
    background-color: black;
}


